* {
margin: 0;
padding: 0;
}


/************ NAVIGATION ************/
ul{
	list-style: none;
}

li {
	display: inline;
	margin: 0px 0px 0px 10px;
}

a.hover {
	text-decoration: underline;
	color: blue;
}

.sticky-position{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	right: 0;
	right: 0;
}

.nav-bg {
	background-color: white;
	padding-top: 10px;
}


.nav-bottom{
	padding-bottom: 5px;
}


/*********** FONTS ****************/
#title{
	font-family: "Gadget", "Arial Black", sans-serif;
}

.heading-font{
	font-family: "Candara";
	font-weight: bold;
}

.content-font {
	font-family: "bookman";
}

.sub-heading-font{
	font-family: "Arial";
	font-style: italic;
}

/************* text-padding **********/
h1, h2, h3, h4, h5, h6, p{
	padding: 10px;
}


/************ CONTENT ************/


.white-bg {
	background-color: white;
	padding: 10px 10px 0 10px;
}

.purple-bg {
	background-image: linear-gradient(to top left, #f0b4cd, rgba(255, 219, 253));
}

.beige-bg {
	background-image: linear-gradient(to top, #f0c6b4, #f7b699);
}


.content {
	background-image: linear-gradient(to top left, rgba(180, 240, 190, 1), rgba(230, 255, 217, 1));
}

.add-top-bottom-padding{
	padding-top: 10px;
	padding-bottom: 10px;
}


/************ BORDERS ************/
.thin-light-outset-topborder{
	border-width: 3px 0 0 0;
	border-color: grey;
	border-style: outset;
}

.thin-light-outset-border{
	border-width: 4px 4px 7px 7px;
	border-color: grey;
	border-style: outset;
}

/************ IMAGES ************/
.rounded-image{
	border-radius: 50%;
}

.fitscreen {
	width: 100%;
}

.ninety-screen {
	max-width: 90%;
	height: auto;
}

.boxshadow-thick{
	box-shadow: 7px 7px 10px grey;
	border-style: outset;
}

.boxshadow-thin{
	box-shadow: 5px 2px 2px grey;
	border-style: outset;
}


/************ ALIGNMENT ************/

.align-image-center {
	display: block;
	margin: auto;
}

.align-content-center{
	text-align: center;
}

.align-content-right{
	text-align: right;
}




/* For mobile phones: */
	body {
		width: 100%;
	}

 @media only screen and (min-width: 768px) {
  /* For desktop: */
body {
	margin: 20px;
	width: 88.88%;
	}
 }